# ==============================================================
# CI with GitHub Actions
# ==============================================================

name: Build

on:
  - push
  - pull_request

env:
  default-python: '3.13'

jobs:
  testing:
    uses: quatrope/garpar/.github/workflows/tests.yml@cb2991bc7f7c38dbd4070bd83bc0a5177bd06d52
