# ==============================================================
# CI with GitHub Actions
# ==============================================================

name: Testing

on:
  workflow_call:

env:
  default-python: '3.13'

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        tox_env: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        include:
          - tox_env: style
          - tox_env: docstyle
          - tox_env: check-manifest
          - tox_env: check-testdir
          - tox_env: check-headers
          - tox_env: coverage
          - tox_env: mkdocs
            pandoc: true

    # The operative sistem
    runs-on: ${{ matrix.os || 'ubuntu-latest' }}

    # the steps of the CI
    steps:
      - uses: actions/checkout@master

      # optionals
      - name: Install pandoc
        if: ${{ matrix.pandoc }}
        run: sudo apt-get install pandoc

      # tox steps
      - name: Set up python environments for coverage
        if: ${{ contains(matrix.tox_env, 'coverage') }}
        uses: actions/setup-python@v4
        with:
          python-version: |
              3.10
              3.11
              3.12
              3.13

      - name: Set up Default Python for regular validations
        if: ${{ !contains(matrix.tox_env, '3.') }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.default-python }}

      - name: Set up Python ${{ matrix.tox_env }}
        if: ${{ contains(matrix.tox_env, '3.') }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.tox_env }}

      - name: Install tox
        run: pip install tox

      - name: tox -re ${{ matrix.tox_env }}
        run: tox -re ${{ matrix.tox_env }}
